<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Quiz Star Wars</title>
  <link rel="stylesheet" type="text/css" href="/vendors/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script type="text/javascript" src="/vendors/js/vendors.js"></script>
</head>
<body class="box--gray">

  <main>
    <%- body %>
  </main>
</body>
</html>
