<%- contentFor('body') %>
<div class="container text-center home">

  <div class="row">
    <div class="col-md-12">
      <img class="home__img" src="/images/icon-vader.png" alt="Imagem Dath Vader">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 class="title-starWars text-shadow--red">StarQuiz!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="button button--gray" id="startGame" type="button" name="startGame">JOGAR</button>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/home.js"></script>
