/* Colors */
$black: #000;
$white: #FFF;
$blue: #437dff;
$gray: #777;

$silver: #505050;
$silver-light: #ddd;

/* Media Sizes */
$screen-xs-min: 458px;
$screen-sm-min: 768px;
$screen-md-min: 1024px;
$screen-lg-min: 1200px;
$screen-xl-min: 1600px;
